@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media only screen and (max-width: 800px) {
  header {
    height: 2.2rem;
  }
  .tlogo {
    width: 43%;
    height: 100%;
    margin-left: 2%;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    font-family: Poppins, serif;
    font-weight: 700;
    margin-top: 25%;
  }
  p {
    color: #808d99;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 11%;
  }
  .main {
    max-width: 100%;
    height: auto;
    position: relative;
    margin-top: 14%;
    padding: 4%;
  }
  #sign {
    margin-top: 15%;
    font-size: 1.4rem;
    padding-left: 5%;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15%;
    padding: 5%;
  }
  .left {
    width: 100%;
    min-height: 3rem;
    margin-bottom: 15%;
    border: 1px solid #f0eeec;
    background-color: #ffffff;
    border-radius: 2px;
  }
  .right {
    width: 100%;
    min-height: 2.7rem;
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 7px;
    color: #ffffff;
    border: none;
    text-decoration: none;
    background-color: #ff52bf;
  }
  footer {
    background-color: #00252e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flogo {
    margin: 10% 0 0 8%;
    width: 65%;
    height: auto;
    position: relative;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -5%;
    width: 50%;
  }
  li {
    list-style-type: none;
    margin-bottom: 5%;
    font-size: 0.9rem;
    line-height: 2rem;
    font-family: Open Sans, sans-serif;
    color: #ffffff;
  }
  .social {
    width: 100%;
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  i {
    font-size: 1.7rem;
    margin: 3% 1% 0 7%;
    color: #ffffff;
  }
  #copy {
    margin-top: 2%;
    text-align: center;
    width: 100%;
    font-size: 0.7rem;
    color: #ffffff;
  }
}

@media only screen and (min-width: 801px) {
  header {
    margin-bottom: 21%;
    padding-left: 5%;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-family: Poppins, serif;
    font-weight: 700;
  }
  p {
    color: #808d99;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.1rem;
  }
  .main {
    max-width: 55%;
    height: auto;
    margin-left: 25%;
  }
  .left {
    min-width: 30%;
    min-height: 2.7rem;
    margin: 2rem 2rem 3rem 22rem;
    border: 1px solid #f0eeec;
    background-color: #ffffff;
    border-radius: 2px;
  }
  .right {
    min-width: 11%;
    min-height: 2.8rem;
    font-family: Open Sans;
    font-size: 0.9rem;
    font-weight: 400;
    border-radius: 7px;
    color: #ffffff;
    border: none;
    text-decoration: none;
    background-color: #ff52bf;
  }
  footer {
    background-color: #00252e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flogo {
    margin-left: 5rem;
    margin-top: 2rem;
    position: relative;
  }
  nav {
    height: 5rem;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50%;
    margin-left: 45%;
  }
  li {
    list-style-type: none;
    margin: -3rem 1rem 1rem 1rem;
    font-size: 0.9rem;
    font-family: Open Sans, sans-serif;
    color: #ffffff;
  }
  .social {
    width: 80%;
    height: 5rem;
    margin-left: 6%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  i {
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-top: 1.4rem;
    color: #ffffff;
  }
  #copy {
    margin-left: 9%;
    margin-top: -2.3rem;
    text-align: right;
    width: 90%;
    font-size: 0.9rem;
    color: #ffffff;
  }
}
/*# sourceMappingURL=styles.css.map */